@using Gaz.Domain.Entities;
@using Gaz.Models;
@model SidebarModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("MetaPartial")
    @await Html.PartialAsync("CssTablePartial")
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        @await Html.PartialAsync("SidebarPartial", Model)
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                @if (Model.Side == true)
                {
                    <div class="container-fluid">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <form class="user" asp-area="" asp-controller="EvaluationTable"
                                          asp-action="EVSSend" method="post">
                                        <input type="hidden" name="User.Id" value="@Model.User.Id">
                                        @if (Model.Admin == true)
                                        {
                                            <input type="email" id="input-email" name="Email">

                                            <br>

                                            <br>
                                        }
                                        <select id="email" name="Email">
                                            <option value=""></option>
                                            @foreach (var user in Model.AllUsers)
                                            {
                                                <option value="@user.Email">@user.Email</option>
                                            }
                                        </select><br><br>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Отправить">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <form class="user" asp-area="" asp-controller="EvaluationTable"
                      asp-action="Save" method="post">
                    <input type="hidden" name="Name" value="@Model.Name" />
                    <div class="container-fluid">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <input class="btn btn-primary btn-user btn-block" type="submit" value="Сохранить">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td rowspan="3">ОЦЕНИВАЕМЫЕ</td>
                                                <td rowspan="3">ПОЯСНЕНИЯ</td>
                                                <td colspan="12">НАПРАВЛЕНИЕ ДЕЯТЕЛЬНОСТИ</td>
                                                <td colspan="2" rowspan="2">БАЛЛЫ</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">Производственное</td>
                                                <td colspan="2">Дополнительное производственное</td>
                                                <td colspan="3">Социально-культурное</td>
                                                <td>Доп. социокульт.</td>
                                            </tr>
                                            <tr>
                                                <td>Дисциплина организации труда и качество выполняемых работ</td>
                                                <td>Заполнение формы индентификации опасности в системе "СТОП-РИСК"</td>
                                                <td>Рационализаторская деятельность</td>
                                                <td>Внедрение предложений по системе "Бережливое производство"</td>
                                                <td>Оценка руководителя (корректирующий коэффициент)</td>
                                                <td>Положительный опыт, Оценка филиала</td>
                                                <td>Наставничество</td>
                                                <td>Участие в конкурсе профмастерства, Семинарах в качестве докладчика</td>
                                                <td>Экология (участие в экологических акциях)</td>
                                                <td>Спорт (участие в спортивных мероприятиях)</td>
                                                <td>Культурно-массовые мероприятия</td>
                                                <td>Благотворительные акции</td>
                                                <td>За текущий месяц</td>
                                                <td>Суммарный годовой (январь - декабрь)</td>
                                            </tr>
                                            <tr>
                                                @foreach (User user in Model.Users)
                                                {
                                                    <input type="hidden" name="UserId" value="@Model.User.Id">
                                                    <input type="hidden" name="EditUserId" value="@user.Id" />
                                                    <td>@user.Fio</td>
                                                    <td name="Explanation1">
                                                        @if (Model.Dis == true || Model.User.Id == user.Id)
                                                        {
                                                            @if (Model.Explanations.Where(z => z.UserId == user.Id).Count() == 0)
                                                            {
                                                                <input type="text" id="explanation" name="Explanation" value="" required>

                                                                <br>

                                                                <br>
                                                            }
                                                            @foreach (var ex in Model.Explanations.Where(z => z.UserId == user.Id))
                                                            {
                                                                <input type="text" id="explanation" name="Explanation" value="@ex.Explanation1" required>

                                                                <br>

                                                                <br>
                                                            }
                                                        }
                                                        @if (Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var ex in Model.Explanations.Where(z => z.UserId == user.Id))
                                                            {
                                                                <a>@ex.Explanation1</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Dis == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 1))
                                                            {
                                                                <select id="mark1" name="MarkId1">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks1)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 1).Count() == 0)
                                                            {
                                                                <select id="mark1" name="MarkId1">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks1)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Dis == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Stop == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 2))
                                                            {
                                                                <select id="mark2" name="MarkId2">
                                                                    <option value="@po.EstimationsMarks.Mark.BigMark">@po.EstimationsMarks.Mark.BigMark</option>
                                                                    @foreach (var em in Model.EstimationsMarks2)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.BigMark</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 2).Count() == 0)
                                                            {
                                                                <select id="mark2" name="MarkId2">
                                                                    <option>0</option>
                                                                    @foreach (var em in Model.EstimationsMarks2)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.BigMark</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Stop == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.BigMark</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Rac == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 3))
                                                            {
                                                                <select id="mark3" name="MarkId3">
                                                                    <option value="@po.EstimationsMarks.Mark.BigMark">@po.EstimationsMarks.Mark.BigMark</option>
                                                                    @foreach (var em in Model.EstimationsMarks3)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.BigMark</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 3).Count() == 0)
                                                            {
                                                                <select id="mark3" name="MarkId3">
                                                                    <option>0</option>
                                                                    @foreach (var em in Model.EstimationsMarks3)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.BigMark</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Rac == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.BigMark</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Ber == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 4))
                                                            {
                                                                <select id="mark4" name="MarkId4">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks4)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 4).Count() == 0)
                                                            {
                                                                <select id="mark4" name="MarkId4">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks4)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Ber == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Ruk == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 5))
                                                            {
                                                                <select id="mark5" name="MarkId5">
                                                                    <option value="@po.EstimationsMarks.Mark.LowMark">@po.EstimationsMarks.Mark.LowMark</option>
                                                                    @foreach (var em in Model.EstimationsMarks5)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.LowMark</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 5).Count() == 0)
                                                            {
                                                                <select id="mark5" name="MarkId5">
                                                                    <option>0</option>
                                                                    @foreach (var em in Model.EstimationsMarks5)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.LowMark</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Ruk == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.LowMark</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Pol == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 6))
                                                            {
                                                                <select id="mark6" name="MarkId6">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks6)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 6).Count() == 0)
                                                            {
                                                                <select id="mark6" name="MarkId6">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks6)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Pol == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Nast == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 7))
                                                            {
                                                                <select id="mark7" name="MarkId7">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks7)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 7).Count() == 0)
                                                            {
                                                                <select id="mark7" name="MarkId7">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks7)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Nast == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Prof == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 8))
                                                            {
                                                                <select id="mark8" name="MarkId8">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks8)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 8).Count() == 0)
                                                            {
                                                                <select id="mark8" name="MarkId8">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks8)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Prof == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Ecolog == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 9))
                                                            {
                                                                <select id="mark9" name="MarkId9">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks9)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 9).Count() == 0)
                                                            {
                                                                <select id="mark9" name="MarkId9">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks9)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Ecolog == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Sport == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 10))
                                                            {
                                                                <select id="mark10" name="MarkId10">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks10)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 10).Count() == 0)
                                                            {
                                                                <select id="mark10" name="MarkId10">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks10)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Sport == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Kult == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 11))
                                                            {
                                                                <select id="mark11" name="MarkId11">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks11)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 11).Count() == 0)
                                                            {
                                                                <select id="mark11" name="MarkId11">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks11)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Kult == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (Model.Blag == true || Model.User.Id == user.Id)
                                                        {
                                                            @foreach (var po in Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 12))
                                                            {
                                                                <select id="mark12" name="MarkId12">
                                                                    <option value="@po.EstimationsMarks.Mark.YesNo">@po.EstimationsMarks.Mark.YesNo</option>
                                                                    @foreach (var em in Model.EstimationsMarks12)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                            @if (Model.Polls.Where(p => p.UserId == user.Id && p.EstimationsMarks.EstimationId == 12).Count() == 0)
                                                            {
                                                                <select id="mark12" name="MarkId12">
                                                                    <option>Нет</option>
                                                                    @foreach (var em in Model.EstimationsMarks12)
                                                                    {
                                                                        <option value="@em.Id">@em.Mark.YesNo</option>
                                                                    }
                                                                </select>
                                                            }
                                                        }
                                                        @if (Model.Blag == false || Model.User.Id != user.Id)
                                                        {
                                                            @foreach (var p in Model.Polls.Where(p => p.UserId == user.Id))
                                                            {
                                                                <a>@p.EstimationsMarks.Mark.YesNo</a>
                                                            }
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var sc in Model.Scores.Where(s => s.UserId == user.Id))
                                                        {
                                                            <a>@sc.MonthScore</a>
                                                        }
                                                        @if (Model.Scores.Count() == 0)
                                                        {
                                                            <a>0</a>
                                                        }
                                                    </td>
                                                    <td>
                                                        @foreach (var sc in Model.Scores.Where(s => s.UserId == user.Id))
                                                        {
                                                            <a>@sc.FinalScore</a>
                                                        }
                                                        @if (Model.Scores.Count() == 0)
                                                        {
                                                            <a>0</a>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    @await Html.PartialAsync("JsTablePartial")
</body>

</html>